@keyframes glow {
    /* from {
        text-shadow: 0 0 10px #6fc3df;
    }
    to {
        text-shadow: 0 0 20px #6fc3df;
    } */
}

@keyframes run {
    0% {
        opacity: 1;
        left: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0%;
    }
    90% {
        top: 75vh;
        width: 1px;
    }
    91% {
        top: 75vh;
        width: 10px;
        height: 1px;
    }
    100% {
        top: 75vh;
        width: 10px;
        height: 1px;
    }
}

.droplet {
    position: absolute;
    top: -50px;
    width: 1px;
    height: 50px;
    animation-name: drop;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

#background {
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}