@font-face {
    font-family: Tron;
    src: url('Tr2n.ttf');

}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #6fc3df, 0 0 10px #6fc3df, 0 0 15px #24677e;
    }
    to {
        text-shadow: 0 0 10px #6fc3df, 0 0 15px #8ecbdf, 0 0 20px #8ecbdf;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        text-shadow: 0 0 5px #6fc3df, 0 0 10px #6fc3df, 0 0 15px #24677e;
        opacity: 1;
    }
}

@keyframes run {
    0% {
        opacity: 1;
        left: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

body {
    background-color: #0c141f;
    font-family: 'Tron';
    color: #6fc3df;
    overflow-x: hidden;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name {
    /* animation: glow 1s ease-in-out infinite alternate; */
    animation-name: fadein, glow;
    animation-duration: 3s, 1s;
    animation-delay: 0s, 3s;
    animation-timing-function: ease-in, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

#cycle {
    opacity: 0;
    position: absolute;
    animation: linear;
    animation-name: run;
    animation-duration: 2s;
}

.txt-lg {
    font-size: 4rem;
}

.txt-md {
    font-size: 2rem;
}

.txt-sml {
    font-size: 1rem;
}