
body {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#navbar {
    margin-top: 5vh !important;
    margin-bottom: 10vh !important;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: lightgray;
    font-size: 1.5rem;
}

#navbar a:hover {
    color: white;
}

#nav-start a {
    font-weight: 500;
    letter-spacing: 2px;
}

#nav-end a + a {
    margin-left: 20px;
}

.container {
    width: 50%;
    margin: auto;
}

#landing {
    display: grid;
    grid-template-columns: 75% 25%;
}

#greeting {
    font-size: 4rem;
}

#portrait {
    width: 100%;
    box-shadow: -10px -10px rgba(255, 255, 255, 0.103);
    transition: width 0.25s;
}

#portrait:hover {
    width: 105%;
}

@media only screen and (max-width: 1281px) {
    #portrait {
        display: none;
    }
}