
html {
    background: radial-gradient(ellipse at top left, #0D2135, #051422);
    width: 100vw !important;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* Container */
.container {
    width: 100vw;
    height: 92vh;
    display: flex;
}

.container .column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
}

/* Navigation Bar */
.nav {
    background-color: #12263A;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 8vh;
    line-height: 8vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 90%;
}

.nav a {
    color: #06BCC1;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    flex: 0 0 50px;
    margin: 1em;
}

.nav-tabs {
    padding-right: 2vw;
}

.nav a:hover {
    color: #6ee5e9;
}

.nav a.active {
    color: #FFFFFA;
}

.nav .main {
    font-size: 36px;
    margin-right: auto;
    max-height: 8vh;
    min-width: 50%;
    text-align: left;
}

.nav .nav-tabs .icon {
    display: none;
}

@media screen and (max-width: 750px) {
    .nav .nav-tabs a {
        display: none;
    }
    .nav .nav-tabs a.icon {
        display: flex;
        flex: 0 0 50px;
    }
}

/* TODO: DISPLAY MENU ON SMALL SCREENS */

/* Portrait */
.portrait-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    height: auto;
}

.portrait {
    width: 50vw;
    height: auto;
    max-height: 92vh;
}

/* Hello Message */
.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50vw;
    height: 100%;
    flex-direction: column;
}

.hello {
    font-family: "Source Code Pro";
    font-weight: bold;
    color: #F6AE2D;
    font-size: 3.3vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    line-height: 80px;
}

.intro {
    font-family: "Source Code Pro";
    font-weight: bold;
    color: #F6AE2D;
    font-size: 1vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    line-height: 80px;
}

/* About Me */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.header {
    font-family: "Quicksand";
    font-weight: bold;
    color: #F6AE2D;
    font-size: 3.3vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    line-height: 80px;
}

.about-info {
    width: 50%;
    font-family: "Quicksand";
    color: #FFFFFA;
    text-align: center;
    font-size: 24px;
}

.about-info a {
    color: #F26419;
    text-decoration: none;
}